extends ./layout/layout.jade
block vars
    - var bodyClass = ''
block content
    //start search
    .search-block
            .container.group
                form.search-block__form.relative
                    input(type="search", name="s", placeholder="Это поиск: что будем искать?")
                    button(type="submit")
        //finish search
    .category-page
            .container.group
                .category-page__content
                    .breadcrumbs
                        a(href='javascript:void(0)') Главная
                        a(href='javascript:void(0)') Оборудование
                        a(href='javascript:void(0)') Автоматическая оптическая инспекция печатных плат (АОИ)
                        span Паяльные пасты MBO
                    h1 Паяльные пасты MBO
                    .category-page__blocks.group
                        .category-page__blocks-single
                            .category-page__blocks-single__image
                                a(href="javascript:void(0)")
                                img(src="images/item5.jpg", alt="")
                            p.category-page__blocks-single__title
                                a(href="javascript:void(0)") Низкотемпературная паста Sirius 1 LF Bi No Clean
                        .category-page__blocks-single
                            .category-page__blocks-single__image
                                a(href="javascript:void(0)")
                                img(src="images/item5.jpg", alt="")
                            p.category-page__blocks-single__title
                                a(href="javascript:void(0)") Низкотемпературная паста Sirius 1 LF Bi No Clean
                        .category-page__blocks-single
                            .category-page__blocks-single__image
                                a(href="javascript:void(0)")
                                img(src="images/item5.jpg", alt="")
                            p.category-page__blocks-single__title
                                a(href="javascript:void(0)") Низкотемпературная паста Sirius 1 LF Bi No Clean
                        .category-page__blocks-single
                            .category-page__blocks-single__image
                                a(href="javascript:void(0)")
                                img(src="images/item5.jpg", alt="")
                            p.category-page__blocks-single__title
                                a(href="javascript:void(0)") Низкотемпературная паста Sirius 1 LF Bi No Clean
                        .category-page__blocks-single
                            .category-page__blocks-single__image
                                a(href="javascript:void(0)")
                                img(src="images/item5.jpg", alt="")
                            p.category-page__blocks-single__title
                                a(href="javascript:void(0)") Низкотемпературная паста Sirius 1 LF Bi No Clean
                    .pagination
                        a(href="javascript:void(0)").prev предыдущая страница
                        a(href="javascript:void(0)") 1
                        a(href="javascript:void(0)").next следующая страница
                    .category-page__tables
                        .category-page__tables__single
                            .category-page__tables__single-title Бессвинцовые паяльные пасты
                            .category-page__tables__single-content
                                table
                                    tr
                                        td.t1 Типы флюса
                                        td.t2 Безотмывочный, без галогенов
                                        td.t3 Стандартный RMA
                                        td.t4 Стандартный RA
                                        td.t5 Водоотмываемый
                                    tr
                                        td.t1 Название пасты
                                        td.t2 SIRIUS 1
                                        td.t3 495 RMA
                                        td.t4 SIRIUS 1RA
                                        td.t5 CASCADE
                                    tr
                                        td.t1 Сплавы
                                        td.t2
                                            p
                                                a(href="javascript:void(0)") Sn62Pb36Ag2
                                            p
                                                a(href="javascript:void(0)") Sn63Pb37
                                        td.t3
                                            p Sn62Pb36Ag2
                                            p Sn63Pb37
                                        td.t4
                                            p Sn62Pb36Ag2
                                            p Sn63Pb37
                                        td.t5
                                            p
                                                a(href="javascript:void(0)") Sn62Pb36Ag2
                                            p
                                                a(href="javascript:void(0)") Sn63Pb37
                        .category-page__tables__single
                            .category-page__tables__single-title Бессвинцовые паяльные пасты
                            .category-page__tables__single-content
                                table
                                    tr
                                        td.t1 Типы флюса
                                        td.t2 Безотмывочный, без галогенов
                                        td.t3 Стандартный RMA
                                        td.t4 Стандартный RA
                                        td.t5 Водоотмываемый
                                    tr
                                        td.t1 Название пасты
                                        td.t2 SIRIUS 1
                                        td.t3 495 RMA
                                        td.t4 SIRIUS 1RA
                                        td.t5 CASCADE
                                    tr
                                        td.t1 Сплавы
                                        td.t2
                                            p
                                                a(href="javascript:void(0)") Sn62Pb36Ag2
                                            p
                                                a(href="javascript:void(0)") Sn63Pb37
                                            p
                                                a(href="javascript:void(0)") Sn62Pb36Ag2
                                            p
                                                a(href="javascript:void(0)") Sn63Pb37
                                        td.t3
                                            p Sn62Pb36Ag2
                                            p Sn63Pb37
                                            p Sn63Pb37
                                        td.t4
                                            p Sn62Pb36Ag2
                                            p Sn63Pb37
                                            p Sn62Pb36Ag2
                                            p Sn63Pb37
                                        td.t5
                                            p
                                                a(href="javascript:void(0)") Sn62Pb36Ag2
                                            p
                                                a(href="javascript:void(0)") Sn63Pb37
                                            p
                                                a(href="javascript:void(0)") Sn62Pb36Ag2
                                            p
                                                a(href="javascript:void(0)") Sn63Pb37
                                            p
                                                a(href="javascript:void(0)") Sn62Pb36Ag2
                                            p
                                                a(href="javascript:void(0)") Sn63Pb37
                                            p
                                                a(href="javascript:void(0)") Sn63Pb37
                        .category-page__tables__single
                            .category-page__tables__single-title Высокотемпературная паяльная паста
                            .category-page__tables__single-content
                                table
                                    col
                                    col
                                    col
                                    col
                                    col
                                    tr
                                        td(colspan="1").t1 Название пасты
                                        td(colspan="4")
                                            p.text-center
                                                b SIRIUS 1 HMP
                                    tr
                                        td(colspan="1").t1 Сплавы/температура плавления
                                        td(colspan="2").text-center
                                            p Sn5Pb85SB10
                                            p Sn5Pb92.5Ag2.5
                                        td(colspan="2").text-center
                                            p 238°C - 243°C
                                            p 288°C - 296°C
                        .category-page__tables__single
                            .category-page__tables__single-title Низкотемпературные паяльные пасты
                            .category-page__tables__single-content
                                table
                                    tr
                                        td(colspan="1").t1 Типы флюса
                                        td(colspan="2").t2 Безотмывочный, без галогенов
                                        td(colspan="2").t3 Безотмывочный, активный
                                    tr
                                        td(colspan="1").t1 Название пасты
                                        td(colspan="2").t2 SIRIUS 1 Di
                                        td(colspan="2").t3 SIRIUS 1 RA Di
                                    tr
                                        td(colspan="1").t1 Сплавы/температура
                                            | плавления
                                        td(colspan="2").t2
                                            p Sn18PbBi50 98°C
                                            p Sn43Bi57 138°C
                                        td(colspan="2").t3
                                            p Sn18PbBi50 98°C
                                            p Sn43Bi57 138°C
                    .category-page__desc
                        p.red-head Паяльная паста является одной из ключевых составляющих качественного серийного автоматизированного производства электроники.
                        p Около 95% брака в электронных модулях, после сборки изделия, приходится на использование некачественной или неправильно выбранной паяльной пасты. Кроме того, очень важно обеспечить качественный процесс нанесения паяльной пасты на плату через трафарет.
                        p Паяльная паста представляет собой вязкую однородную массу, состоящую из мельчайших шариков припоя и канифольных смол с различными химическими добавками (флюс). К основным параметрам качества пасты можно отнести такие как: клейкость (удержание компонентов на плате), время жизни (срок засыхания от 4 до 24 часов), чистота пайки (смываемые и несмываемые флюсы), вязкость (способность к растеканию на плате), способ нанесения (дозирование или трафаретная печать), а также растворяемость (применение растворителей или воды для отмывки  плат и трафаретов )
                        p Существуют два основных типа паяльных паст: свинцовые и бессвинцовые.  В то же время свинцовые пасты делятся на типы содержащие свинец, олово и серебро (Sn63/Pb37 и Sn62/Pb36/Ag2), а бессвинцовые на содержание серебра, олова, меди (Sn95,5/Ag3,8/Cu0,7 и Sn96,5/Ag3,5). Из-за разных  химических составов все паяльные пасты имеют индивидуальную температуру плавления. Существуют низкотемпературные и высокотемпературные паяльные пасты.
                        p.red-head Основные дефекты при работе с паяльными пастами:
                        ol
                            li При отсутствии контроля чистоты трафарета может происходить засыхание пасты в его апертурах.
                                br
                                | Результат: нанесение  пасты на контактные площадки платы не происходит или происходит частично
                                br
                                | Причина:  не учтена растворяемость пасты при применении растворителей или воды для отмывки  плат и трафаретов
                            li Плохая паяемость компонентов, «непропай» или короткое замыкание (КЗ).
                                br
                                | Результат: нанесение  пасты на контактные площадки платы не происходит или происходит частично. Остаются излишки пасты приводящие к ее растеканию.
                                br
                                | Причина: применение паст не подходящих для нанесения через апертуры с мелким шагом (менее &lt; 0.25 мм). Плохая клейкость (вязкость) пасты. Паста быстро сохнет ( внешняя температура).
                            li Много припоя на контактных площадках и выводах электронных компонентов. Остатки пасты на поверхности трафарета.
                                br
                                | Результат: наносится избыточное количество пасты из-за неправильной настройки режимов принтера. Паста густая, холодная или не подготовленная. Засохшая паста из-за неправильного хранения
                                br
                                | Причины: не учтено  время  жизни пасты или не соблюдены условия ее хранения.
                        p Все паяльные пасты, которые предлагает наша компания, предварительно проходят тестирование в реальных условиях на предприятиях Европы и РФ.
                        p Паяльные пасты марки MBO зарекомендовали себя как очень качественные и надежные материалы. Нами полученно много положительных отзывов от ведущих предприятий  РФ в области поверхностного монтажа.
                aside.category-page__side
                    nav.category-page__side-nav
                        p.category-page__side-title Оборудование
                        ul
                            li
                                a(href='javascript:void(0)') Сборочно-монтажное оборудование
                            li
                                a(href='javascript:void(0)') Оборудование для производства печатных плат
                            li.parent
                                a(href='javascript:void(0)') Оборудование для инспекции
                                span.point
                                ul.child
                                    li
                                        a(href='javascript:void(0)') Автоматическая оптическая инспекция печатных плат (АОИ)
                                    li
                                        a(href='javascript:void(0)') Рентгеновский контроль печатных плат
                                    li
                                        a(href='javascript:void(0)') Цифровые микроскопы
                                    li
                                        a(href='javascript:void(0)') Универсальная рабочая станция 3D (после АОИ)
                                    li
                                        a(href='javascript:void(0)') Автоматическая 3D-инспекция нанесения паяльной пасты (SPI)
                            li
                                a(href='javascript:void(0)') Вспомогательное оборудование
                            li
                                a(href='javascript:void(0)') Оборудование для обработки кабеля
                            li
                                a(href='javascript:void(0)') Оборудование б/у
                        p.category-page__side-title Комплектующие
                        ul
                            li
                                a(href='javascript:void(0)') Расходные материалы
                            li
                                a(href='javascript:void(0)') Запасные части
                            li
                                a(href='javascript:void(0)') Питатели
                            li
                                a(href='#') Вакуумные питатели
                    nav.category-page__side-nav
                        p.category-page__side-title Сервис
                        ul
                            li
                                a(href='javascript:void(0)') Техническое обслуживание оборудования
                            li
                                a(href='javascript:void(0)') Техническая поддержка и аудит
                            li
                                a(href='javascript:void(0)') Изготовление специальных вакуумных захватов
                            li
                                a(href='javascript:void(0)') Пуско-наладочные работы и ремонт оборудования