extends ./layout/layout.jade
block vars
    - var bodyClass = ''
block content
    //start search
    .search-block
        .container.group
            form.search-block__form.relative
                input(type="search", name="s", placeholder="Это поиск: что будем искать?")
                button(type="submit")
    //finish search
    .item-page
        .container.group
            .item-page__content
                .breadcrumbs
                    a(href='javascript:void(0)') Главная
                    a(href='javascript:void(0)') Услуги
                    span Техническое обслуживание оборудования
                h1 Техническое обслуживание оборудования
                .item-page__service
                    p Почему выгодно заказывать сервис всего оборудования монтажного участка в нашей компании?
                    ul
                        li Двухразовое в течение года техническое обслуживание специалистами нашей компании помогает вам поддерживать ваше оборудование в рабочем состоянии и быть постоянно готовым к выпуску больших объемов продукции.
                        li Выбирая нашу компанию, вы выбираете команду профессионалов, имеющих успешный и длительный опыт сервиса оборудования поверхностного монтажа, как в России, так и за ее пределами.
                        li Отдавая обслуживание в руки профессионалов, вы снимаете с себя ответственность за работоспособность оборудования, спокойно занимаясь другими важными делами на своем производстве.
                        li Ведущие предприятия отрасли, в число которых входят как крупные государственные предприятия, так и предприятия малого и среднего бизнеса, доверяют нашему сервису оборудование  таких известных производителей, как Assembleon, Yamaha, Samsung, Dek, Ersa, Speedline (Electrovert, MPM), BTU, Siemens и прочих. Наряду с обслуживанием наши клиенты получают доступ к запчастям всех вышеперечисленных брендов оборудования по конкурентной цене по сравнению с ценами официальных дилеров.
                        li Комплексный подход и индивидуальный стиль работы с каждым нашим клиентом помогает нам успешно решать широкий спектр задач сервиса, таких как обучение персонала, отладка технологии, техническое обслуживание, диагностика и ремонт оборудования.
                    p Техническое обслуживание оборудования – очень важный пункт планирования любого производства по следующим причинам:
                    ul
                        li оборудование должно выполнять всегда свои функции и быть исправным
                        li оборудование должно соответствовать параметрам, указанным в его спецификации
                        li ремонт оборудования не должен быть дорогостоящим
                    p о этим трем причинам, приводящим владельцев производств к серьезным материальным потерям  в связи с невозможностью выполнения взятых обязательств перед заказчиками, а также потерям репутации и, самое нежелательное, потерям клиентов, техническое обслуживание оборудования должно проводиться:
                    ul
                        li регулярно согласно графику обслуживания
                        li квалифицированными специалистами
                        li с применением соответствующего специального инструмента и оснастки
                        li с применением оригинальных и качественных материалов
                    p В связи с этим 10-летний опыт наших высококвалифицированных специалистов в области обслуживания линий поверхностного монтажа, понимающих досконально весь процесс до мелочей,  работающих непосредственно на производстве, выявил основные принципы обслуживания с технической, а также экономической точек зрения.
                    p Вот перечень оборудования, которое мы можем обслуживать, ремонтировать, диагностировать, консультировать специалистов по любым вопросам:  Assembleon (Yamaha), DEK, MPM, Electrovert, BTU, Nutek.
                    p Ниже опишем основные моменты, на которые стоит обращать особое внимание при обслуживании самых распространенных в РФ автоматов поверхностного монтажа печатных плат Assembleon Topaz/Opal XII.
                    ol
                        li Смазочные материалы.
                            p Смазочные материалы должны быть оригинальными и соответствовать требованиям изготовителя. Уже есть, например, негативный опыт в необходимости замены ШВП на автомате TopazXII через 15 тыс. часов наработки при использовании несоответствующей смазки на одном из предприятий. Смазывать ШВП и направляющие качения на автоматах серий X-XII, MG, MC нужно смазкой NSK NSL (NSA). ШВП и направляющие более медленных приводов таких как оси принтеров DEK, MPM, загрузчиков-разгрузчиков Nutek, Asys, и др. требуют применения более простой литиевой смазки, такой как THK AFB-LF.
                        li Периодичность выполнения работ.
                            p Специалистами сервисной службы Yamaha определены интервалы технического обслуживания оборудования с привязкой к часам наработки автомата.
                        li Качество выполненных работ.
                            p Не всегда, обслуживаясь у официального дилера, вы получаете качественно выполненную работу. В квалификации наших специалистов уже успели убедиться многие производители электроники из России и стран СНГ и Балтии. Выбирая СМТ Технологии - вы выбираете качество и надежность!
            aside.category-page__side
                nav.category-page__side-nav
                    p.category-page__side-title Оборудование
                    ul
                        li
                            a(href='javascript:void(0)') Сборочно-монтажное оборудование
                        li
                            a(href='javascript:void(0)') Оборудование для производства печатных плат
                        li.parent
                            a(href='javascript:void(0)') Оборудование для инспекции
                            span.point
                            ul.child
                                li
                                    a(href='javascript:void(0)') Автоматическая оптическая инспекция печатных плат (АОИ)
                                li
                                    a(href='javascript:void(0)') Рентгеновский контроль печатных плат
                                li
                                    a(href='javascript:void(0)') Цифровые микроскопы
                                li
                                    a(href='javascript:void(0)') Универсальная рабочая станция 3D (после АОИ)
                                li
                                    a(href='javascript:void(0)') Автоматическая 3D-инспекция нанесения паяльной пасты (SPI)
                        li
                            a(href='javascript:void(0)') Вспомогательное оборудование
                        li
                            a(href='javascript:void(0)') Оборудование для обработки кабеля
                        li
                            a(href='javascript:void(0)') Оборудование б/у
                nav.category-page__side-nav
                    p.category-page__side-title Комплектующие
                    ul
                        li
                            a(href='javascript:void(0)') Расходные материалы
                        li
                            a(href='javascript:void(0)') Запасные части
                        li
                            a(href='javascript:void(0)') Питатели
                        li
                            a(href='#') Вакуумные питатели
                nav.category-page__side-nav
                    p.category-page__side-title Сервис
                    ul
                        li
                            a(href='javascript:void(0)') Техническое обслуживание оборудования
                        li
                            a(href='javascript:void(0)') Техническая поддержка и аудит
                        li
                            a(href='javascript:void(0)') Изготовление специальных вакуумных захватов
                        li
                            a(href='javascript:void(0)') Пуско-наладочные работы и ремонт оборудования