extends ./layout/layout.jade
block vars
    - var bodyClass = ''
block content
    //start search
    .search-block
        .container.group
            form.search-block__form.relative
                input(type="search", name="s", placeholder="Это поиск: что будем искать?")
                button(type="submit")
    //finish search
    .static-page
        .container.group
            .breadcrumbs
                a(href='javascript:void(0)') Главная
                span Типовая текстовая страница
            h1 Типовая текстовая страница
            p Компания «СМТ технологии» основана в 2011году  высокопрофессиональными инженерами, выпускниками МГТУ им. Н. Э. Баумана, имевшими к моменту основания внушительный опыт работы в отрасли производства электроники свыше семи лет. Следуя традициям профессионализма, в штате нашей компании работают исключительно люди, хорошо разбирающиеся в технологическом процессе производства электротехнических изделий. Именно поэтому мы всегда нацелены на глубокую технологическую проработку вопроса и результат, удовлетворяющий всем требованиям, предъявляемым заказчиком. Наши сотрудники не понаслышке знают о проблемах, с которыми сталкиваются производства, и имеют опыт решения различных задач возникающих в производственном цикле.
            p Девизом нашей компании является слоган «Свежий взгляд на производство электроники», который несет в себе много скрытых смыслов, приводящих в итоге к повышению качества производимой продукции, повышению эффективности производств электроники и росту уровня сервиса со стороны компаний, занятых в секторе поставок и обслуживания технологического оборудования для производства электроники. Свежие подходы для решения устоявшихся и новых задач зачастую приводят к впечатляющим результатам, давая возможность радоваться нашему коллективу вместе с коллективом заказчика.
            p Наряду с высоким качеством товаров и услуг компания «СМТ технологии» осуществляет гибкую ценовую политику, постоянно развенчивая устоявшийся тезис «Качественно – значит дорого». В современном мире растущей конкуренции и научно-технологического прогресса все уже не так однозначно.
            p Компания «СМТ технологии» помимо поставки технологического оборудования и материалов специализируется также  на поставке запасных частей и аксессуаров для оборудования поверхностного монтажа, поддерживает большинство основных производителей сборочного оборудования с большим выбором запасных частей, таких как Assembleon, Yamaha, Fuji, Juki, Samsung, Dek, MPM. Качество всех запасных частей проверено в результате длительного отбора поставщиков, подтверждено на многих предприятиях отрасли в РФ и не имеет нареканий.
            p Наша цель при поставке запчастей заключается в обеспечении удобства наших клиентов в поиске того, что им действительно нужно. Приобретая у нас запасные части и комплектующие, Вы можете быть уверены в качестве нашей продукции, своевременности поставок и разумности ценообразования.
            p Наша компания работает с поставщиками запчастей с оптимальным соотношением цена-качество для тех, кто не готов переплачивать за имя и долго ждать, а ценит реальное качество и адекватные сроки поставки.